@value makerGreen, makerWhite from '../../common/colors.css';

.button {
  background-color: makerGreen;
  color: makerWhite;
  font: {
    weight: bold;
    size: 0.8em;
  }
  cursor: pointer;
  padding: 0.5em;
  flex: 1 1 50%;
  &:hover {
     opacity: 0.8;
   }
}
